<!-- Header Section -->
<section class="max-w-4xl mx-auto text-white px-6 py-10 min-h-screen">
	<div class="flex items-center space-x-2 text-gray-400 py-4">
		<a href="/" class="hover-text-primary">Inicio</a>
		<span>/</span>
		<a href="/ernesto-solis" class="hover-text-primary">Ernesto Solís</a>
	</div>

	<h1 class="text-3xl font-bold">Ernesto Solís</h1>
	<h2 class="text-3xl color-text-primary font-semibold py-2">Ingeniero de software</h2>

	<p class="text-gray-300 mb-4 py-1">
		Soy egresado de la Universidad Tecnologica de Panamá, estudie la licenciatura de Ingenieria de Software lo cual culmine y soy ingenierio.
	</p>

	<p class="text-gray-300 mb-4 py-1">
		Siempre me dedico a estudiar y expandir mis experiencias y perspectivas sobre tecnología. Algunas de las áreas en las que he profundizado
		incluyen JavaScript, Java, Python, Angular y AWS. Sin embargo, lo que realmente me apasiona es hablar de soluciones en lugar de enfocarme
		únicamente en las herramientas. Este es mi enfoque al 100%.
	</p>

	<p class="text-gray-300 mb-4 py-1">
		Actualmente, soy parte de la organización líder en tecnología en Panamá, <a href="" class="enlaces underline" target="_blank" rel="noopener"
			>GENIUS</a
		>, que ofrece soluciones tecnológicas personalizadas para cada necesidad.
	</p>

	<p class="text-gray-300 mb-4 py-1">
		A lo largo de mi vida he tenido la oportunidad de participar en multiples grupos, uno de ellos a mencionar es:
	</p>

	<ul class="text-gray-300 mb-4 py-1">
		<li>
			<a href="https://www.linkedin.com/company/grupo-eurus-utp" class="enlaces underline" target="_blank" rel="noopener">Eurus</a> un grupo estudiantil
			de la Facultad de Ingeniería de Sistemas Computacionales.
		</li>
	</ul>

	<section class="text-gray-300 py-16">
		<div class="max-w-4xl mx-auto">
			<h2 class="text-4xl font-bold text-white mb-12">Experiencias laborales</h2>

			<div class="mb-12">
				<h3 class="text-2xl font-semibold text-white mb-1">Logic Studio S.A.</h3>
				<div class="mb-4">
					<h4 class="color-text-primary text-xl font-medium">Ingeniero de desarollo de software</h4>
					<p class="text-sm text-gray-400">Presente</p>
				</div>
				<ul class="space-y-4">
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>Diseño, desarrollo y construcción de sitios web, enfocado en soluciones personalizadas.</p>
					</li>
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>Brindar soporte técnico a multiples organzaciones para asegurar una experiencia de usuario óptima y sin interrupciones.</p>
					</li>
				</ul>
			</div>

			<div class="mb-12">
				<h3 class="text-2xl font-semibold text-white mb-1">Banco General S.A.</h3>
				<div class="mb-4">
					<h4 class="color-text-primary text-xl font-medium">Ingeniero de Monitoreo y Soporte</h4>
					<p class="text-sm text-gray-400">Agosto 2022 — Abril 2024</p>
				</div>
				<ul class="space-y-4">
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>
							Durante mi tiempo en BG, formé parte del Centro de Prevención y Control de Incidentes (CPCI), un área clave encargada de
							garantizar el óptimo funcionamiento y la continuidad operativa de las aplicaciones más críticas del banco.
						</p>
					</li>
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>
							Responsable del monitoreo de los sistemas para detectar posibles incidentes o anomalías operativas. Mi trabajo implico
							desarrollar y administrar herramientas de monitoreo avanzadas, analizar registros de eventos e identificar patrones o
							actividades inusuales.
						</p>
					</li>
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>
							Desarrollé funcionalidades utilizadas por el 99% de los usuarios y terceros de la aplicación. Optimice procesos reduciendo
							así costos operativos. Creación de reportes automáticos capaces de prevenir pérdidas millonarias.
						</p>
					</li>
				</ul>
			</div>

			<div>
				<h3 class="text-2xl font-semibold text-white mb-1">Autoridad Nacional de Innovación Gubernamental (AIG)</h3>
				<div class="mb-4">
					<h4 class="color-text-primary text-xl font-medium">Asistente QA</h4>
					<p class="text-sm text-gray-400">Marzo 2021 — Septiembre 2021</p>
				</div>
				<ul class="space-y-4">
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>
							Gestioné el control de calidad en el sistema de vacunación, abarcando verificación, reporte y corrección de registros
							ingresados. Además, fui responsable del seguimiento y trazabilidad de los registros, asegurando su correcta asignación a
							los respectivos sitios de vacunación.
						</p>
					</li>
					<li class="flex gap-3">
						<div class="w-1.5 h-1.5 rounded-full color-bg-primary mt-2 flex-shrink-0"></div>
						<p>
							En este rol también fui responsable de identificar y reportar anomalías, errores y posibles fallas en el sistema,
							contribuyendo así a mantener un proceso de vacunación eficiente y sin problemas.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</section>
