---

---

<header class="max-w-7xl mx-auto bg-primary text-white px-6 py-4">
	<nav class="flex justify-between items-center">
		<a href="/ernesto-solis">
			<img
				src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/image-FzrusoEArwjTKFkoKQwSsgarXMVjRH.png"
				alt="Profile photo"
				class="w-12 h-12 rounded-full"
			/>
		</a>
		<div class="flex md:gap-6 md:justify-end gap-4 text-gray-300">
			<a href="/" class="hover:text-white transition-colors">Inicio</a>
			<a href="/blog" class="hover:text-white transition-colors">Blog</a>
			<a href="/experiencias" class="hover:text-white transition-colors">Experiencias</a>
			<a href="/proyectos" class="hover:text-white transition-colors">Proyectos</a>
			<a href="/contactame" class="hover:text-white transition-colors">Contactame</a>
		</div>
	</nav>
</header>
