---
const { pathname } = Astro.url;
---

<header class="max-w-7xl mx-auto bg-primary text-white px-6 py-4">
	<nav class="flex justify-center md:justify-end py-5">
		<!-- <a href="/ernesto-solis" class="sm:hidden">
			<img
				src=""
				alt="Profile photo"
				class="w-12 h-12 rounded-full"
			/>
		</a> -->
		<div class="flex md:gap-6 md:justify-end gap-4 text-gray-300">
			<a
				href="/"
				class={`hover:text-white hover:scale-105 transition-transform duration-100  ${pathname === "/" ? "color-text-primary font-bold" : ""}`}
				>Inicio</a
			>
			<a
				href="/blog"
				class={`hover:text-white hover:scale-105 transition-transform duration-100 ${pathname.startsWith("/blog") ? "color-text-primary font-bold" : ""}`}
				>Blog</a
			>
			<a
				href="/experiencias"
				class={`hover:text-white hover:scale-105 transition-transform duration-100 ${pathname === "/experiencias" ? "color-text-primary font-bold" : ""}`}
				>Experiencias</a
			>
			<a
				href="/proyectos"
				class={`hover:text-white hover:scale-105 transition-transform duration-100 ${pathname.startsWith("/proyectos") ? "color-text-primary font-bold" : ""}`}
				>Proyectos</a
			>
			<a
				href="/contactame"
				class={`hover:text-white hover:scale-105 transition-transform duration-100 ${pathname.startsWith("/contactame") ? "color-text-primary font-bold" : ""}`}
				>Contáctame</a
			>
		</div>
	</nav>
</header>
